@using System
@using photoCon.Helper
@{
    LocalEncryption localEncryption = new LocalEncryption();
    const string key = "thequickbrownfox";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PPSS</title>
    <link rel="shortcut icon" href="https://www.pagcor.ph/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/photoCon.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/c84a207f25.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('contextmenu', event => event.preventDefault()); //right click
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header>
       
        <!-- Navbar -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm" >
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="#">
                    <img src="~/css/images/PPSS6.png" alt="Logo" height="30" width="110">
                </a>

                <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if ((this.User.IsInRole("JUDGE") || this.User.IsInRole("SYSADMIN") || this.User.IsInRole("APPADMIN") || this.User.IsInRole("ECDUSER")) && User.Identity.IsAuthenticated)
                        {
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index"><strong>About</strong></a>
                            </li>
                        
                        }
                        @if ( (this.User.IsInRole("SYSADMIN") || this.User.IsInRole("APPADMIN") || this.User.IsInRole("ECDUSER") ) && User.Identity.IsAuthenticated)
                        {
                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <strong>Settings</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Enrollment" asp-action="Index"><strong>(1) User Enrollment</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="SeedDatabase" asp-action="Index"><strong>(2) Import Images - Regional</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="CSVSetup" asp-action="Index"><strong>(3) Upload Images Details</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="InitialSetup" asp-action="Index"><strong>(4) Setup - Regional</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="GrandFinalSetup" asp-action="Index"><strong>(5) Setup - Grand Finals</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="JudgeGrandFinal" asp-action="ImitateJudge"><strong>(6) Encode - Grand Final Score</strong></a></li>
                                   

                                </ul>
                            </li>

                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <strong>Rank</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Rank" asp-action="DailyRank"><strong>Regional - Daily Rank</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Rank" asp-action="GrandFinalRank"><strong>Grand Final</strong></a></li>
                          


                                </ul>
                            </li>

                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Reports" asp-action="Index"><strong>Reports</strong></a>
                            </li>

                            
           
                            
                        }

                        @if (this.User.IsInRole("JUDGE") && User.Identity.IsAuthenticated)
                        {

                            //lagyan dito ng condition depende sa ma retrieve na value
                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <strong>Score</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Judge" asp-action="Score" asp-route-xcat="@localEncryption.ANEncrypt(1.ToString(), key)"><strong>Conventional</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Judge" asp-action="Score" asp-route-xcat="@localEncryption.ANEncrypt(2.ToString(), key)"><strong>Mobile</strong></a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Judge" asp-action="Score" asp-route-xcat="@localEncryption.ANEncrypt(3.ToString(), key)"><strong>Drone</strong></a></li>



                                </ul>
                            </li>

                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Rank" asp-action="MyRank"><strong>Gallery</strong></a>
                            </li>
                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Judge" asp-action="SearchPhoto"><strong>Search Photo</strong></a>
                            </li>


                        }
                    </ul>

                    <!-- User login image with username -->
                    <div class="d-flex">
                        <span class="nav-link me-2 text-white">@User.Identity.Name</span>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="userDropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/css/images/unknown.png" alt="User Image" class="rounded-circle" height="30"> 
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="userDropdownMenu">
                                <li><a class="dropdown-item" href="@(Url.Action("Logout", "Home"))">Logout</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>

        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PPC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SeedDatabase" asp-action="Index">Import Image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="InitialSetup" asp-action="Index">Setup</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="BatchImage" asp-action="Index">Batch Image</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>  *@
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3" style="margin-top: 4%;">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - photoCon - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)*@
    @*@await RenderSectionAsync("jquerySection", required: false)*@ @*-------------------@for the loading of images next and prev*@
</body>
@* <script>
    // Initialization for ES Users
    import { Dropdown, Collapse, initMDB } from "mdb-ui-kit";

    initMDB({ Dropdown, Collapse });
</script> *@
</html>
